<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="utf-8"/>
 <title>Conteúdo voltado para microempreendedores</title>
 <link rel="stylesheet" href="css/css.css">
</head>
<body>

  <header>
   <div class="topo">
     <div class="cabecalho">
       <h1>Meuamadonegocio</h1>
     </div>
     <div class="lead">
      <button type="button" class="newsletter">Receba nossas dicas</button>
    </div>
  </header>

  <nav class="menu">&nbsp;
      <!--
      <ul>
          <li><a href="#">Segmento A</a></li>
          <li><a href="#">Segmento B</a></li>
          <li><a href="#">Segmento C</a></li>
      </ul>
    -->
  </nav>
  <main class="container">
    <div class="content">


     <section class="list-post">
       <article>
        <form action="/como-usar-as-metas-para-vender-mais" method="POST">
          <figure>
            <input type="image" src="imagens/metas-II.jpeg" alt="Submit" class='imglink'>
          </figure>
        </form>

        <h2><a href="#"> 
          Como usar as metas para vender mais</a></h2>
          <h3>
            Existe muita coisa na internet prometendo aumentar suas vendas. Mas a verdade é uma só, pra vender mais é necessário duas coisas simples: Estratégia e Ação. O papo de hoje é estratégico e sobre metas e como elas podem te ajudar a fazer seu amado negócio deslanchar ;) </h3>
          </article>


          <article>
            <form action="/sera-que-eu-devo-aceitar-cartao" method="POST">
              <figure>
                <input type="image" src="imagens/money-card-II.jpeg" alt="Submit" class='imglink'>
              </figure>
            </form>
            <h2><a href="#">                    
              Será que eu devo aceitar cartão?</a></h2>
              <h3> 
                Não é preciso um CNPJ para ter sua maquininha de cartão. Ela pode ser um diferencial para seu pequeno negócio.</h3>
          </article>

            <article>
              <form action="/como-usar-o-excel-ao-seu-favor" method="POST">
                <figure>
                  <input type="image" src="imagens/Excel-II.jpg" alt="Submit" class='imglink'>
                </figure>
              </form>
              <h2><a href="#">                    
                Como usar o excel ao seu favor?</a></h2>
                <h3> 
                  Para que seu negócio tenha sucesso e você consiga ver o crescimento, é necessário se aliar desta poderosíssima ferramenta.</h3>
            </article>


                </section>

                <aside class="sidebar">
                  <span class="chamada"><strong>Gostou dessa matéria, leia mais:</strong></span><br><br>
                  <ul>
                    <li><a href="#">> O impacto monstruoso das pequenas decisões de design</a></li>
                    <li><a href="#">> Um papo sobre responsabilidade</a></li>
                    <li><a href="#">> Toda ação tem uma reação</a></li>
                  </ul>
                </aside>
              </div>

            </main>

            <footer>
             <div class="form">
               <form class="formulario" action="cadastronews" method="POST" >
                <input type="text" name="name" placeholder="Nome">
                <input type="text" name="email" placeholder="E-mail">
                <input type="hidden" name="ip" id="ip" value="">
                <input type="hidden" name="page" id="page" value="index">
                <select name="menu">
                  <option value="microempreendedor" selected>microempreendedor</option>
                  <option value="pequeno comércio">pequeno comércio</option>
                  <option value="loja online">loja online</option>
                </select>

                <input type="submit" value="Enviar" class="submeter" />
              </form>
              <script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>
              <script type="text/javascript">
                document.getElementById("ip").value = userip;
              </script>
            </div>
          </footer>
        </body>
        </html>