<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="utf-8"/>
 <title>Conteúdo voltado para microempreendedores</title>
 <link rel="stylesheet" href="css/css.css">
</head>
<body>


  <header>
   <div class="topo">
     <div class="cabecalho">
       <a href="#" class="link-home"><h1>Meu amado negócio</h1></a>
     </div>
  </header>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84445306-1', 'auto');
    ga('send', 'pageview');

  </script>

  <nav class="menu">&nbsp;
      <!--
      <ul>
          <li><a href="#">Segmento A</a></li>
          <li><a href="#">Segmento B</a></li>
          <li><a href="#">Segmento C</a></li>
      </ul>
    -->
  </nav>
  <main class="container">
    <div class="content">
      <section class="list-post">
       <article>
        <a href="/como-usar-as-metas-para-vender-mais"> 
          <figure>
            <img src="imagens/metas-II.jpeg" alt="Submit" class='imglink'>
          </figure>
          <h2>Como usar as metas para vender mais</h2>
        </a>  
        <h3>
          Existe muita coisa na internet prometendo aumentar suas vendas. Mas a verdade é uma só, pra vender mais é necessário duas coisas simples: Estratégia e Ação. O papo de hoje é estratégico e sobre metas e como elas podem te ajudar a fazer seu amado negócio deslanchar ;) </h3>
        </article>

        <article>
          <a href="/sera-que-eu-devo-aceitar-cartao">
            <figure>
              <img src="imagens/money-card-II.jpeg" alt="Submit" class='imglink'>
            </figure>
            <h2>Será que eu devo aceitar cartão?</h2>
          </a>
          <h3>Não é preciso um CNPJ para ter sua maquininha de cartão. Ela pode ser um diferencial para seu pequeno negócio.</h3>
        </article>

        <article>
          <a href="/como-usar-o-excel-ao-seu-favor">
            <figure>
              <img src="imagens/Excel-II.jpg" alt="Submit" class='imglink'>
            </figure>
            <h2>Como usar o excel ao seu favor?</h2>
          </a>
          <h3>Para que seu negócio tenha sucesso e você consiga ver o crescimento, é necessário se aliar desta poderosíssima ferramenta.</h3>
        </article>
      </section>
      <aside class="sidebar">
      <br>
      <br>
        <span class="chamada"><strong>Gostou do nosso conteúdo? Então se inscreva na nossa newsletter!</strong></span><br><br>
        <div class="form">
          <form class="formulario" action="/" method="POST">
            <input type="text" name="name" placeholder="Nome">
            <input type="text" name="email" placeholder="E-mail">
            <input type="hidden" name="ip" id="ip" value="">
            <select name="menu">
              <option value="microempreendedor" selected>microempreendedor</option>
              <option value="pequeno comércio">pequeno comércio</option>
              <option value="loja online">loja online</option>
            </select>

            <center><input type="submit" value="Enviar" class="submeter" /></center>
          </form>
          <script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>
          <script type="text/javascript">
            document.getElementById("ip").value = userip;
          </script>
        </div>
      </aside>
    </div>
  </main>

  <footer>
    <div class="form"></div>
  </footer>
</body>
</html>