<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="utf-8"/>
 <title>Conteúdo voltado para microempreendedores</title>
 <link rel="stylesheet" href="css/css.css">
</head>
<body>

  <header>
   <div class="topo">
     <div class="cabecalho">
       <a href="/" class="link-home"><h1>Meu amado negócio</h1></a>
     </div>
     <div class="lead">
      <button type="button" class="newsletter">Receba nossas dicas</button>
    </div>
  </header>

  <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-84445306-1', 'auto');
        ga('send', 'pageview');

  </script>
  
  <nav class="menu">&nbsp;
      <!--
      <ul>
          <li><a href="#">Segmento A</a></li>
          <li><a href="#">Segmento B</a></li>
          <li><a href="#">Segmento C</a></li>
      </ul>
    -->
  </nav>
  <main class="container">
    <div class="content">
     <section class="materia">
      <h2>Como usar as metas para vender mais</h2>
      <h3>Existe muita coisa na internet prometendo aumentar suas vendas. Mas a verdade é uma só, pra vender mais é necessário duas coisas simples: Estratégia e Ação. O papo de hoje é estratégico e sobre metas e como elas podem te ajudar a fazer seu amado negócio deslanchar ;) </h3>
      <figure>
        <img src="imagens/metas.jpeg">
      </figure>
      <article>
        Pra você que é dono do próprio negócio, nem sempre é simples manter uma rotina e estabelecer o que é necessário para o seu sucesso. Trabalhar sozinho não te dá tempo de pensar em como agir antes de agir de fato, mas talvez esse seja o seu pior erro. Já dizia o ditado, que é sempre importante “Pensar antes de agir” e o mesmo se aplica a você e a todas as pessoas que hoje tocam seus próprios negócios.
        Mas, calma! Antes do desespero a gente te explica tim por tim como fazer isso ;)<br><br>

        <h1>Onde você quer ir?</h1><br><br>

        Pra quem não sabe onde quer chegar, qualquer caminho basta - já dizia o Gato da Alice no País das Maravilhas. Entender quais são seus objetivos é uma maneira simples de delinear qual será seu caminho até lá - o que você precisa fazer, quanto tempo vai levar ou quanto vai custar… São perguntas que só podem ser respondidas se você sabe onde, de fato, fica esse ‘lá’.<br><br>

        <strong>Exemplo prático!</strong> Muitos dos nossos leitores são revendedores e consultores Herbalife, um negócio sensacional e uma super oportunidade durante a crise. Mas, se não há um objetivo colocado - quando o consultor começa seus trabalhos - como ele ou ela podem saber se o negócio é um sucesso ou não? Estabelecer quantas pessoas você quer atender por semana, quantas por mês e até mesmo a quantidade de produtos diferentes que você precisa vender é crucial para estabelecermos uma estratégia bacana :)
        No nosso caso, nosso consultor, o Robson, precisa vender: 06 potes de shake, 10 desodorantes, 10 caixas de Barras de Proteína e 3 potes de Fiber Powder, além de atender 30 pessoas por dia de segunda a sexta no seu Espaço Vida Saudável. Simplesmente escrevendo isso num papelzinho, fica muito mais fácil de passar para o próximo passo.

        <br><br>

        <h1>Como vai chegar lá?</h1><br><br>
        Agora que você já sabe onde quer chegar, os caminhos ficam mais claros e você pode começar a escolhê-los! Com suas metas na mão você começa a colocar quais são as atividades que você precisa realizar, com quem precisa falar e como vai gastar suas horas de trabalho todos os dias.<br>
        <strong>Muito Importante!</strong> Lembre-se que você trabalha no seu amado negócio, então você deve respeitá-lo como tal! Quanto mais vocÊ conseguir transformá-lo numa rotina, com atividades definidas e maneiras claras de medir se as coisas estão dando certo, mais sucesso ele vai ser!<br>
        <strong>Exemplo Prático!</strong> Agora que o Robson já sabe o que ele precisa vender e as quantidades, ele vai escolher as diferentes atividades para chegar lá. Para conseguir as 30 pessoas todos os dias ele vai focar em fidelização dos seus clientes, oferecendo o acompanhamento dos resultados de cada um por e-mail, desconto se trouxerem seu próprio copo (economizando com recursos) e cartão fidelidade - depois de 10 shakes, você ganha o 11 mais um presente exclusivo. Os presentes serão descontos nos demais produtos que ele precisa vender. Para vendê-los ele ainda vai: colocá-los próximos ao pessoal que está visitando o Espaço, vai fazer kits de produtos com desconto e oferecer sempre para todos os clientes. Com essas ações, ele garante que suas metas serão batidas e consegue acompanhar quanto falta, semana a semana.

        <br><br>

        <h1>Organização, foco e um lugar pra anotar :)</h1><br><br>
        As regras são simples: quando você sabe onde quer chegar e que caminhos tomar até lá, o segredo do seu amado negócio ser um sucesso está no foco, na organização das suas atividades e em sempre ter aquele lugarzinho onde você vai manter suas metas e consultá-las sempre! E aí?! Bora trabalhar? 

      </article>
    </section>
    <aside class="sidebar">
      <span class="chamada"><strong>Gostou dessa matéria, leia mais:</strong></span><br><br>
      <ul>
        <li><a href="#">> O impacto monstruoso das pequenas decisões de design</a></li>
        <li><a href="#">> Um papo sobre responsabilidade</a></li>
        <li><a href="#">> Toda ação tem uma reação</a></li>
      </ul>
    </aside>
  </div>
</main>
  <footer>
   <div class="form">
     <form class="formulario" action="como-usar-as-metas-para-vender-mais" method="POST" >
      <input type="text" name="name" placeholder="Nome">
      <input type="text" name="email" placeholder="E-mail">
      <input type="hidden" name="ip" id="ip" value="">
      <select name="menu">
        <option value="microempreendedor" selected>microempreendedor</option>
        <option value="pequeno comércio">pequeno comércio</option>
        <option value="loja online">loja online</option>
      </select>

      <input type="submit" value="Enviar" class="submeter" />
    </form>
    <script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>
    <script type="text/javascript">
      document.getElementById("ip").value = userip;
    </script>
  </div>
</footer>

</body>
</html>