<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="utf-8"/>
 <title>Conteúdo voltado para microempreendedores</title>
 <link rel="stylesheet" href="css/css.css">
</head>
<body>


  <header>
   <div class="topo">
     <div class="cabecalho">
       <h1>Meuamadonegocio</h1>
     </div>
     <div class="lead">
      <button type="button" class="newsletter">Receba nossas dicas</button>
    </div>
  </header>

  <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-84445306-1', 'auto');
        ga('send', 'pageview');

  </script>

  <nav class="menu">&nbsp;
      <!--
      <ul>
          <li><a href="#">Segmento A</a></li>
          <li><a href="#">Segmento B</a></li>
          <li><a href="#">Segmento C</a></li>
      </ul>
    -->
  </nav>
  <main class="container">
    <div class="content">
     <section class="materia">
      <h2>Como usar o excel ao seu favor?</h2>
      <h3>Para que seu negócio tenha sucesso e você consiga ver o crescimento, é necessário se aliar desta poderosíssima ferramenta.</h3>
      <figure>
        <img src="imagens/Excel.jpg">
      </figure>
      <article>
        <h1>Mas como usar se você tem pouco conhecimento ao respeito?</h1><br><br>
        Caso seu negócio esteja num momento inicial o programa Excel ajudará você a gerenciar todo o seu processo de venda, inclusive ajudará a organizar seu fluxo de caixa, logística e até elaborar um plano de ação para atingir os resultados que você quer no tempo que você espera.<br><br>

        Mas como elaborar estas planilhas se você tem pouco conhecimento ao respeito ou dispõe de pouco tempo para criar tudo isto? Felizmente hoje existem se não dezenas, centenas de sites que irão ajudar com essa parte do negócio.<br>

        Alguns programas como <a haref="http://www.sebrae.com.br/sites/PortalSebrae/ufs/mg/artigos/planilhas-para-a-gestao-do-seu-negocio,6b926f65a8f3a410VgnVCM2000003c74010aRCRD#finan%C3%A7as"> Sebrae </a>(Sebrae - Minas Gerais) possuem uma vasta biblioteca sobre este tema e em cada cidade você encontrará ajuda, o mais importante não tem custo :)
        Para ter acesso ao material, deverá seguir os seguintes passos:<br>

        <ol>
          <li>Escolher em qual formato você quer criar seu cadastro</li>
          <li>Na sequência preencher o formulário com todos os seus dados.</li>
          <li>e preferir se cadastrar como pessoa física, pode conectar com a sua conta do Facebook.</li>
        </ol><br><br>

        <a href= "https://luz.vc/">Planilhas Luz</a> - Aqui as planilhas tem um custo e vão desde R$100 até R$ 1600.00, mas possuem um formato no qual você consegue baixar versões de demonstração totalmente gratuitas!<br>

        Por exemplo, se você precisar de alguma planilha será muito fácil baixar para o seu computador, basta procurar no site. Por exemplo você precisa baixar a <a href="https://luz.vc/planilhas-empresariais/planilha-de-prospeccao-de-clientes">planilha para prospecção de clientes</a>, ao fazer clique nela você verá a opção de versão demonstrativa grátis, clique nesse botão e seguidamente você deverá colocar seu endereço de e-mail. Lembre-se que você receberá uma versão limitada assim como informação constante deles.<br> 
        Vá para sua conta de e-mail e aí poderá baixar a planilha.<br><br>

        <a href="http://reidasplanilhas.com.br/planilhas/?cat=gestao-e-empreendedorismo">O Rei das planilhas</a> é outro site no formato de blog que te ajudará com toda a gestão da venda, formação de preço, etc. E como eles mesmos se definem são planilhas fáceis de usar, e totalmente de graça!<br>
        Conseguir as planilhas deste site é muito mais fácil ainda!<br> 
        Você deverá simplesmente entrar na planilha da sua preferência, fazer a rolagem da página até o final e aquí terá que escolher por alguma das opções e no momento de clicar, deverá escolher a pasta de destino. Muito fácil não é?!<br><br>

        <a href="https://contaazul.com/materiais/planilhas">O ContaAzul</a> é um sistema de gestão que o irá ajudar no dia-a-dia do seu empreendimento e possui uma série de materiais gratuitos.<br>
        Para baixar uma das planilhas do material educativo deste site, você terá que:<br>

        <ol>
          <li>Escolher o material pelo qual se interessou.</li>
          <li>Preencher o formulário com seus dados como email, nome, etc, e responder algumas perguntas básicas.</li>
          <li>Após um cinco segundos você poderá guardar o arquivo na pasta da sua preferência.</li>
        </ol><br><br>
      </article>
    </section>
    <aside class="sidebar">
      <span class="chamada"><strong>Gostou dessa matéria, leia mais:</strong></span><br><br>
      <ul>
        <li><a href="#">> O impacto monstruoso das pequenas decisões de design</a></li>
        <li><a href="#">> Um papo sobre responsabilidade</a></li>
        <li><a href="#">> Toda ação tem uma reação</a></li>
      </ul>
    </aside>
  </div>
</main>
  <footer>
   <div class="form">
   <form class="formulario" action="/como-usar-o-excel-ao-seu-favor" method="POST" >
      <input type="text" name="name" placeholder="Nome">
      <input type="text" name="email" placeholder="E-mail">
      <input type="hidden" name="ip" id="ip" value="">
      <select name="menu">
        <option value="microempreendedor" selected>microempreendedor</option>
        <option value="pequeno comércio">pequeno comércio</option>
        <option value="loja online">loja online</option>
      </select>

      <input type="submit" value="Enviar" class="submeter" />
    </form>
    <script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>
    <script type="text/javascript">
      document.getElementById("ip").value = userip;
    </script>
  </div>
</footer>

</body>
</html>