<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="utf-8"/>
 <title>Conteúdo voltado para microempreendedores</title>
 <link rel="stylesheet" href="css/css.css">
</head>
<body>

  <header>
   <div class="topo">
     <div class="cabecalho">
       <a href="/" class="link-home"><h1>Meu amado negócio</h1></a>
     </div>
  </header>

  <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-84445306-1', 'auto');
        ga('send', 'pageview');
  </script>
  
  <nav class="menu">&nbsp;
      <!--
      <ul>
          <li><a href="#">Segmento A</a></li>
          <li><a href="#">Segmento B</a></li>
          <li><a href="#">Segmento C</a></li>
      </ul>
    -->
  </nav>
  <main class="container">
    <div class="content">
     <section class="materia">
      <h2>Você tem uma estratégia de vendas?</h2>
      <h3>Agora que você decidiu ter seu próprio negócio, como chegar ao se cliente? Como fazer para que ele conheça seu produto ou serviço?</h3>
      <figure>
        <img src="https://images.endeavor.org.br/uploads/2015/11/Post-Portal.jpg">
      </figure>
      <article>
        Para você ter sucesso e começar a ganhar os primeiros clientes, precisa definir a sua estratégia de vendas. Mas como definir o caminho certo, como saber se as decisões que você está tomando farão com que seus potenciais clientes conheçam você?<br><br>

		Lembre-se que vendas é um processo de organização, comprometimento e responsabilidade. Se você trabalha sozinho e não tem um time deverá criar alguns processos, mesmo que pequenos, para atingir suas metas [linkar com matéria de metas].
		Isto é muito importante e não depende do tamanho do seu negócio.<br><br>

        <h1>Definir seu público-alvo!</h1><br><br>

        Conhecer e saber a “dor” dos seus futuros clientes o ajudará a ter mais venda. Ele deve ser definido por características em comum desse segmento podendo ser idade, sexo, região geográfica, segmento da sociedade, etc. Pois uma vez que você haja definido seu produto / serviço, ele somente seu público-alvo.
		Por exemplo: Se você vende roupa para academia seu público será:
		Homens e mulheres
		25 ~ 40 anos
		<br><br>

        <h1>Defina suas metas!</h1><br><br>
		Se você não estabelece uma meta seja diária, semanal, mensal, vai dar na mesma se vende R$ 1,00 ou mil. E lembre-se que suas metas atendem um funil para gerar conversão e você identifique “quanto” e o “que” precisa fazer para atingir um determinado valor.
		Por exemplo, imaginemos que você vende seus serviços de “Conserto de Notebooks” deverá estabelecer o tempo que leva cada diagnóstico e conserto desta forma conseguirá identificar quantos serviços consegue realizar por dia / semana / mês e saber qual será seu faturamento mensal.<br><br>

        <h1>Prospecção</h1><br><br>
        Muitos empreendedores esquecem que para atingir as primeiras vendas precisam fazer este passo importantíssimo. Mas como fazer para que as pessoas me encontrem?<br>
		Existem muitas formas para encontrar nosso público-alvo e mostrar para eles o que fazemos. Um dos melhores caminhos é o jornal de bairro, alí conseguiremos mostrar para uma boa quantidade de vizinhos o que fazemos. Essa será uma forma muito rápida de conseguirmos serviço.<br>
		Muito importante que esse anúncio tenha telefone obviamente, endereço de e-mail (tem que olhar sempre) e se puder uma página no Facebook (vamos falar em outro post como criar a sua e como administrar, criar anúncio, etc).<br><br>

		<h1>Panfletagem</h1><br><br>
		Também é uma boa estratégia, porém tem que se atentar que seus vizinhos não fiquem chateados com isso e estabeleça uma frequência. Uma boa dica seria estabelecer alguma cor ou criar um roteiro para uma rua X num dia D, assim você consegue identificar de qual rua você consegue mais clientes.<br>
		Uma dica muito importante é que você tem que rever sua estratégia mês a mês e melhorar esses processos, embora simples, muito importantes descobrindo as melhores práticas e eliminando aquilo que deu errado.<br><br>
		
		Muito Sucesso!<br><br>
		
      </article>
    </section>
    <aside class="sidebar">
      <br>
      <br>
        <span class="chamada"><strong>Gostou deste conteúdo? Então se inscreva na nossa newsletter!</strong></span><br><br>
        <div class="form">
          <form class="formulario" action="/Você tem uma estratégia de vendas" method="POST">
            <input type="text" name="name" placeholder="Nome" style="font-color:black" >
            <input type="text" name="email" id="email" placeholder="E-mail" style="font-color:black" >
            <input type="hidden" name="ip" id="ip" value="">
            <select name="menu">
              <option value="microempreendedor" selected>microempreendedor</option>
              <option value="pequeno comércio">pequeno comércio</option>
              <option value="loja online">loja online</option>
            </select>

            <center><input type="submit" value="Enviar" class="submeter" onclick='Javascript:checkEmail();' /></center>
          </form>
          <script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>
          <script type="text/javascript">
            document.getElementById("ip").value = userip;
          </script>
          <script type="text/javascript">
            function checkEmail() {
              var email = document.getElementById('email');
              var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
              if (!filter.test(email.value)) {
                alert('Por favor insira um e-mail válido');
                return false;
              } else{
                alert('Agradecemos o seu cadastro!');
                return true;
              }
            }
          </script>
        </div>
      </aside>
  </div>
</main>
<footer>
   <div class="form ">
    <div class="footer">
      <div class="align-form">
      </div>
    </div>
  </footer>

</body>
</html>